In [1]:
## Prints every integer from 0 to 99
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
## Same result
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
## Function that computes the factorial of N
def factorial(N):
    f = 1
    for i in range(1, N + 1):
        f *= i
    return f

In [4]:
print("Factorial(6) = %d" % factorial(6))

Factorial(6) = 720

In [5]:
## Triangle of asterisks
## *
## * *
## * * *
## * * * *
def simple_triangle(N):
    for i in range(1, N + 1):
        for j in range(i):
            print("* ", end="")
        print()

In [7]:
simple_triangle(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [6]:
## Symmetrical Triangle upside down of asterisks
## * * * * *
##   * * *
##     *
def sym_triangle_upside_down(N):
    for i in range(N, 0, -1):
        for j in range(N - i):
            print("  ", end="")
        for j in range(2 * i - 1):
            print("* ", end="")
        print()

In [7]:
sym_triangle_upside_down(5)

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [8]:
# Counting the number of digits using while loop
N = 111
result = 0
while N > 0:
    N = N // 10
    result += 1
print(result)

3

In [9]:

# Printing all N fibonacci numbers
def fibonacci(N):
    x = 0
    y = 1
    while x <= N:
        print(x, end=" ")
        z = y
        y += x
        x = z

In [12]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [15]:
## Looping over collections of values
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
    print(day, end=" ")

Monday Tuesday Wednesday Thursday Friday Saturday Sunday

In [14]:
## Looping over a set of values => arbitrary order & unique elements
days = set(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Sunday'])
for day in days:
    print(day, end=" ")

Friday Saturday Thursday Wednesday Monday Sunday Tuesday

In [13]:
## Looping over a dictionary => order of the keys
days = {
    'mon': 'Monday', 
    'tue': 'Tuesday', 
    'wed': 'Wednesday', 
    'thu': 'Thursday', 
    'fri': 'Friday', 
    'sat': 'Saturday', 
    'sun': 'Sunday'
}
for day in days:
    print("%s stands for %s" % (day, days[day]))

mon stands for Monday
tue stands for Tuesday
wed stands for Wednesday
thu stands for Thursday
fri stands for Friday
sat stands for Saturday
sun stands for Sunday